.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0;
  position: sticky;
  top: 0;
  position: -webkit-sticky;
  height: auto;
  z-index: 100;
  -webkit-box-shadow: 0 4rem 4rem 0.9rem rgba(255, 251, 251, 0.19);
  -moz-box-shadow: 0 4rem 4rem 0.9rem rgba(255, 251, 251, 0.19);
  box-shadow: 0 3rem 4rem 0.9rem rgb(0, 0, 0);
}

.search__input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  color: rgb(255, 255, 255, 0.8);
  height: 100%;
}
.header__back {
  margin-right: 0.4rem;
}
.header__search {
  flex: 2;
  margin-bottom: 0.4rem;
}
